.u-section-1 .u-sheet-1 {
  min-height: 629px;
}

.u-section-1 .u-text-1 {
  margin: 46px 425px 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-social-icons-1 {
  height: 76px;
  min-height: 16px;
  width: 332px;
  min-width: 94px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  animation-timing-function: ease-in-out;
  margin: 11px auto 60px;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 0;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-icon-4 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 350px;
    margin-right: 350px;
  }

  .u-section-1 .u-social-icons-1 {
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 268px;
    margin-right: 268px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 201px;
    margin-right: 201px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 127px;
    margin-right: 127px;
  }
}